body {
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets//world.svg");
    width: 100%;

    /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* background-image: url("./world.svg"); */
    background-repeat: no-repeat;
    background-position: center;

}

.wrapper {

    padding: 1rem;
    border-radius: 1rem;

    background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
    background-blend-mode: screen;

    width: 40%;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.searchInputCont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.searchInputCont button {
    padding: 0.5rem 1rem;
    margin:1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: large;
}

.searchInputCont input {

    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: large;
}

.weatherOutputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tempDataDiv h4 {
    margin: 0;
}

.tempDataDiv {
    font-size: x-large;
    text-align: center;
}

.cityName {
    padding: 1rem;
}

.cityName h3 {
    margin: 0;


    font-size: x-large;
}



.clouds {
    background-image: url("./assets/cloudy.jpg");
}

.haze {
    background-image: url("./assets/haze.jpg");
}

.rain {
    background-image: url("./assets/rain.jpg");
}

.clear {
    background-image: url("./assets/clear.jpg");
}